<h1>New game</h1>
<section class="container">
<%@letters.each do |item|%>
<div>
  <p><%=item%></p>
</div>
<%end%>
</section>


<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br><br>
  <%= hidden_field_tag :letters, @letters %>

  <label for="word">What is the longest word you can find?</label><br>
  <input type="text" id="word" name="word">
  <button type="submit">Play</button>
</form>
